<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>RPM Bike Meter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Welcome ito RPM Bike Meter Backend Administration</h1>
<br/>
<a th:href="@{/trainings}" class="btn btn-primary" role="button">Trainings</a>
<a th:href="@{/persons}" class="btn btn-info" role="button">Persons</a>

<div class="three columns">
    <form th:method="delete" th:action="@{/training}">
        <button type="button" class="btn btn-danger">Delete</button>
    </form>
</div>

</body>

</html>