<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Person List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class=".container-fluid bg-dark">
    <p class="text-center h1 text-primary">Person list</p>
    <a href="/" class="btn btn-info btn-rounded">Home</a>

    <form action="#" th:action="@{/addPerson}" th:object="${person1}" method="post">
        <table>
            <tr>
                <td><label for="staticEmail" class="col-sm-2 col-form-label text-white">Name:</label></td>
                <td><input type="text" th:field="*{name}" class="form-control" placeholder="Enter the username"
                           id="staticEmail"/></td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
        </table>
    </form>

    <table class="table table-hover table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Delete</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:utext="${person.getPersonId()}">...</td>
            <td th:utext="${person.getName()}">...</td>
            <td><a href="/person-delete/1" th:href="@{/person-delete/__${person.personId}__}"
                   class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>
