<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Training List</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class=".container-fluid bg-dark">
    <p class="text-center h1 text-primary">Training list</p>
    <a href="/" class="btn btn-info btn-rounded">Home</a>
    <table class="table table-hover table-dark">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Average</th>
            <th>Person</th>
            <th>Delete</th>
        </tr>
        <tr th:each="training : ${trainings}">
            <td th:utext="${training.getTrainingId()}">...</td>
            <td th:utext="${training.getDate()}">...</td>
            <td th:utext="${training.getDuration()}"></td>
            <td th:utext="${training.getAverage()}">...</td>
            <td th:utext="${training.getPerson().getName()}">...</td>
            <td><a href="/delete/1" th:href="@{/delete/__${training.trainingId}__}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
